body { background: #bfaccd; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 40px; display: flex; }
.block-database-0 { color: #7ea59c; font-size: 21px; margin-bottom: 5px; }
.block-cluster-1 { color: #e898dc; font-size: 17px; margin-bottom: 5px; }
.block-order-2 { color: #edca63; font-size: 13px; margin-bottom: 5px; }
.block-helper-3 { color: #809219; font-size: 15px; margin-bottom: 5px; }
.block-sms-4 { color: #3e719c; font-size: 21px; margin-bottom: 5px; }